<div class="container">
  <div class="cart-container">
    <div class="header">
      <h3>Shopping Cart</h3>
      <h5 (click)="removeAllProducts()">Remove all</h5>
    </div>
    <div class="items">
      <div *ngIf="length !== 0">
        <app-cart-product
          *ngFor="let item of cart"
          [item]="item"
          (remove)="removeProduct($event)"
        ></app-cart-product>
      </div>
      <div *ngIf="length == 0">No Product in cart</div>
    </div>
    <hr />
    <div class="footer">
      <div class="total">
        <div>
          <div class="sub-total">Sub-Total</div>
          <div class="items-count">{{ length }} items</div>
        </div>
        <div class="total-amount">${{ total }}</div>
      </div>
    </div>
  </div>
  <app-checkout [total]="total"></app-checkout>
</div>
