.product-container {
  font-size: 16px;
  font-weight: 500;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product-photo {
  height: 300px;
  width: auto;
  cursor: pointer;
}

.product-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.product-form input {
  width: 50%;
  height: 25px;
  font-size: 15px;
  text-align: center;
}

.product-form button {
  width: 100%;
  padding: 15px 15px;
  font-size: 15px;
  color: #fff;
  background-color: rgba(1, 154, 255, 0.856);
  border: none;
  cursor: pointer;
}

.value{
  width:80px;
  padding: 10px 20px;
  background-color: #0b88ee;
  /* text-align: center; */
  font-size: 16px;
}

option{
  /* text-align: center; */
  padding: 20px 20px;
  /* font-size: 16px; */
}